@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700,500");

.fullbox {
}

.background {
  background-size: cover;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #F6F7FB;
}

.infoframe {
  position: absolute;
  width: 887px;
  left: 364px;
  top: 150px;
  background-color: #ffffff;
}

.layout_top {
  display: block;
  width: 1400px;
}

.top_title {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px; 
  color: #6D6D6D;
  margin-top: 39px;
  margin-left: 24px;
}

.top_subtitle {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 46px;
  color: #333333;
  margin-top: 5px;
  margin-left: 24px;
}

.layout_top_image {
  margin-top: 37px;
  margin-left: 100px;
}

.layout_top_table {
  margin-top: 48px;
  margin-left: 100px;
}

.layout_body {
  margin-left: 20px;
  margin-top: 0px;
  color: var(--black);
  font-family: var(--font-family-noto_sans_kr);
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
}

.photos {
  width: 840px;
  margin-left: 20px;
  margin-top: 20px;
  /* border-style: solid;
  border-radius: 20px;
  border-width: 1.5px;
  border-color: #c9c9c9; */
}

.layout_body_picture {
  margin-left: 40px;
  margin-top: 30px;
}

.button{
  margin-left: 600px;
  width: 350px;
  color: var(--black);
  font-family: var(--font-family-noto_sans_kr);
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
}

.edit{
  width: 69px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #828282;
}

.confirm{
  width: 148px;
  height: 40px;  
  background: #2D9CDB;
  border-radius: 4px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;  
  color: #FFFFFF; 
}

.subtitle {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  color: #333333;
}
