@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700,500");

.fullbox {
}

.notosanskr_bold_black_24px {
  color: var(--black);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-l);
  font-weight: 700;
  font-style: normal;
  background: #999999;
  border-radius: 4px;
  border: none;
}

.notosanskr_bold_cyan_24px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-l);
  font-weight: 700;
  font-style: normal;
  background: #2d9cdb;
  border-radius: 4px;
  border: none;
}

.notosanskr_medium_black_16px {
  color: var(--black);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}

.infoframe {
  position: absolute;
  width: 1496px;
  left: 364px;
  top: 176px;
}

.layout_top {
  display: block;
  width: 1400px;
}

.layout_top_txt1 {
  color: rgb(134, 134, 134);
  font-family: var(--font-family-noto_sans_kr);
  font-size: 29px;
  font-weight: 500;
  font-style: normal;
  margin-top: 107px;
  margin-left: 24px;
}

.layout_top_txt2 {
  color: black;
  font-family: var(--font-family-noto_sans_kr);
  font-size: 46px;
  font-weight: 500;
  font-style: normal;
  margin-top: 20px;
  margin-left: 24px;
}

.layout_top_image {
  margin-top: 37px;
  margin-left: 100px;
}

.layout_top_table {
  margin-top: 48px;
  margin-left: 100px;
}

.layout_body {
  margin-left: 100px;
  color: var(--black);
  font-family: var(--font-family-noto_sans_kr);
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
}

.layout_body_drawing {
}

.layout_body_picture {
  margin-left: 40px;
  margin-top: 30px;
}

.layout_bottom {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 1400px;
  height: 50px;
  margin-top: 130px;
}

.layout_box {
  position: absolute;
  left: 10px;
  top: 100px;
}
