@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700,500|Roboto:400");

.rightsidebox{
    position: absolute;
    width: 555px;
    height: 989px;
    left: 1368px;
    top: 91px;
    border-width: 0px 0px 0px 2px ;
    border-style: solid;
    border-color: #E0E0E0;
}
