@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700,500|Roboto:400");

.rightsidebox{
    position: absolute;
    width: 555px;
    height: 989px;
    left: 1368px;
    top: 91px;
    border-width: 0px 0px 0px 2px ;
    border-style: solid;
    border-color: #E0E0E0;
}

.scheduletext{
    position: absolute;
    width: 45px;
    height: 24px;
    left: 1428px;
    top: 152px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;

    color: #000000;
}
.calender{
    position: absolute;
    width: 432px;
    height: 485px;
    left: 1428px;
    top: 208px;    
}